<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactus-Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <heading>
    <h1>plase share your contact details</h1>
  </heading>
   <main>
    <form action="/contact-page" method="POST">
      <input type="text" name="name" placeholder="Enter your name"/>
      <br/>
      <input type="email" name="email" placeholder="Enter your email"/>
      <br/>
      <button type="submit">Submit</button>
    </form>
   </main>
</body>
</html>